body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    background-color: rgb(255, 125, 4);;
    color: white;
    font-family:Tahoma;
    padding: 2rem;
}

footer{
    background-color: rgb(7, 7, 7);;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer{
    list-style: none;
    margin-top: 2rem;
}

nav{
    background-color: rgb(245, 113, 4);;
    padding: 1rem;
    margin-bottom: 4rem;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    padding: 1rem;
}

li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
    transition: color 0.2s;
    padding: 1rem;
    border-radius: 1rem;
}

li a:hover{
    background-color: beige;
}

.container{
    width: 70vw;
    margin: auto;
    border: 2px solid rgb(255, 118, 7);
    padding: 0,5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.container h2{
    background-color: rgb(255, 115, 0);
    color: white;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
}

.container input{
    border-radius: 1rem;
    width: 65vw;
}
li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
    transition: color 0.2s;
    padding: 1rem;
    border-radius: 1rem;
}

li a:hover{
    background-color: beige;
}

.container{
    width: 70vw;
    margin: auto;
    border: 2px solid rgb(255, 145, 0);
    padding: 0,5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.container h2{
    background-color: rgb(255, 145, 0);
    color: white;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
}

.container input{
    border-radius: 1rem;
    width: 65vw;
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
    border: 2px solid rgb(255, 145, 0);
}